
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
out/
logs/
*.log
*.pdb
*.pidb
*.userprefs


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


[Pp]ackages/
*.nupkg
.dotnet/


[Tt]est[Rr]esults/
*.trx
*.xml


.idea/
.vscode/
*.rsuser
_ReSharper*/
*.ReSharper
*.DotSettings.user


Thumbs.db
.DS_Store
Desktop.ini